{
  "$schema": "https://swc.rs/schema.json",
  "sourceMaps": true,
  "isModule": true,
  "jsc": {
    "parser": {
      "syntax": "typescript",
      "decorators": true,
      "dynamicImport": true
    },
    "target": "es2022",
    "baseUrl": "./",
    "minify": {
      "compress": true,
      "mangle": true
    },
    "transform": {
      "decoratorMetadata": true
    }
  },
  "module": {
    "type": "es6",
    "strictMode": true
  },
  "minify": true
}